h2{
    font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: rgb(179, 79, 33);
    text-align: center;
}
/* .card{
	display:flex;
	flex-direction:column;
	flex:1;
	
	margin:50px 15px auto 15px;
	border-radius:6px;
	box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
	overflow:hidden;
	transition: all 250ms ease;
	background:#fff;
  
	
}  */


 .card:hover{
	transform: translate(0, -10px);
	cursor:pointer;
}

.row2 {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  margin-bottom: 2rem;
  object-fit: contain;
}
.rec.rec-arrow {
    border-radius: 0;
	color: rgb(179, 79, 33);
	margin-left: 10%;
	margin-right: 10%;
	
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
	
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
	
}
img{
	height: 1000px;
}

.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled{
    background-color:rgb(179, 79, 30);
    box-shadow: 0 0 1px 3px rgb(179, 79, 30);
}
button.rec-dot{
	background-color:lightsalmon;
	box-shadow: 0 0 1px 3px orangered
  }
  
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
	box-shadow: 0 0 1px 3px rgb(179, 79, 30)
  }
  
@media only screen and (max-width: 600px){
	
	.row2 {
	  flex-direction: column;
	  justify-content: center;
	  align-items: stretch;
	  flex-wrap: wrap;
	  height: fit-content;
	}
	
	.row2 .card {
	  width: 55%;
	}
	.rec.rec-arrow {
		display: none;
	}
	
	
	
  }